{% extends 'main.html' %}
<!--  -->
{% block title %} ChatGo - 刪除 {% endblock title %}

<!--  -->
{% block content %}

<section>
  <div class="py-2 sm:py-8 flex justify-center">
    <div
      class="w-11/12 sm:w-6/12 border border-gray-800 rounded-lg overflow-hidden"
    >
      <div class="py-2 px-4 bg-teal-600">
        <div class="flex items-center space-x-2">
          <a href="{{request.META.HTTP_REFERER}}" class="flex">
            <i class="material-icons text-[1.4rem]"> west </i>
          </a>
          <span>回上頁</span>
        </div>
      </div>

      <div class="bg-gray-700 px-4 py-6 space-y-2">
        <form action="" method="POST">
          {% csrf_token %}

          <div class="flex flex-col space-y-4">
            <div>
              <span>確定要刪除 " {{obj}} "？</span>
            </div>
            <div class="text-end">
              <input
                class="border border-cyan-400 text-cyan-400 rounded-md px-4 py-1 cursor-pointer hover:border-cyan-300 hover:text-cyan-300"
                type="submit"
                value="確定"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
