<div class="space-y-4 pr-4">
  <div class="text-[1rem]">
    <h2>聊天室主題</h2>
  </div>

  <ul class="space-y-4">
    <li class="hover:text-cyan-400">
      <div class="flex items-center justify-between">
        <a href="{% url 'home' %}" class="">
          <span> 全部 </span>
        </a>
        <span class="px-2 bg-gray-700 border border-gray-700 rounded-lg">
          {{topics.count}}
        </span>
      </div>
    </li>
    {% for topic in topics %}
    <li class="hover:text-cyan-400">
      <div class="flex items-center justify-between">
        <a href="{% url 'home' %}?q={{topic.name}}">
          <span>{{topic.name}}</span>
        </a>
        <span class="px-2 bg-gray-700 border border-gray-700 rounded-lg">
          {{topic.room_set.all.count}}
        </span>
      </div>
    </li>
    {% endfor %}
  </ul>

  <div>
    <a class="btn btn--link" href="{% url 'topics' %}">
      <span class="text-[0.88rem] text-cyan-400"> More </span>
    </a>
  </div>
</div>
