{% extends 'main.html' %}
<!--  -->
{% block title %} ChatGo {% endblock title %}

<!--  -->
{% block content %}

<section>
  <div class="flex pb-6 sm:pt-2">
    <div class="hidden sm:block w-3/12 px-2">
      <!-- 聊天室的所有主題 -->
      {% include 'base/topics_component.html' %}
    </div>

    <!-- 所有聊天室 -->
    <div class="w-full sm:w-6/12 space-y-4 sm:space-y-0">
      <!-- 手機版 - 新增主題和最新留言連結 -->
      <div class="block sm:hidden space-y-4">
        <form class="" action="{% url 'home' %}" method="GET">
          <div class="relative flex flex-wrap justify-center">
            <button
              class="flex items-center rounded-l bg-slate-500 pl-2 py-1.5"
              type="submit"
            >
              <i class="material-icons text-[1.8rem]"> search </i>
            </button>

            <input
              name="q"
              type="text"
              class="w-9/12 sm:w-11/12 placeholder:text-[0.9rem] bg-slate-500 focus:outline-none rounded-r px-1"
              placeholder="搜尋聊天室 ..."
            />
          </div>
        </form>

        <div class="flex items-center justify-evenly">
          <a
            class="px-4 py-2 border border-cyan-400 rounded-lg"
            href="{% url 'topics' %}"
          >
            <span class="text-cyan-400">搜尋主題</span>
          </a>
          <a
            class="px-4 py-2 border border-cyan-400 rounded-lg"
            href="{% url 'activity' %}"
          >
            <span class="text-cyan-400">最新留言</span>
          </a>
        </div>
      </div>

      <div class="flex items-center justify-between px-8 sm:px-4 pb-2">
        <div class="text-[0.88rem]">
          <h2>ChatGo</h2>
          <p class="text-gray-500">{{rooms.count}} 間聊天室</p>
        </div>
        <div
          class="border border-cyan-400 rounded-lg px-3 py-1.5 text-cyan-400 hover:border-cyan-300 hover:text-cyan-300"
        >
          <a class="flex items-center space-x-1" href="{% url 'create-room' %}">
            <i class="material-icons"> add </i>
            <span>新增聊天室</span>
          </a>
        </div>
      </div>

      {% include 'base/feed_component.html' %}
    </div>

    <div class="hidden sm:block w-3/12 px-4">
      <!-- 使用者最新留言訊息狀態 -->
      {% include 'base/activity_component.html' %}
    </div>
  </div>
</section>

{% endblock content %}
