{% extends 'main.html' %}
<!--  -->
{% block title %} ChatGo - {{room.name}} {% endblock title %}

<!--  -->
{% block content %}

<section>
  <div class="flex justify-center">
    <!-- 左側聊天室 start -->
    <div class="w-full sm:w-9/12 space-y-4 sm:space-y-0 px-4 sm:px-3">
      <div class="border border-gray-800 rounded-lg overflow-hidden">
        <div class="py-2 px-4 bg-teal-600 flex items-center justify-between">
          <div class="flex items-center space-x-2">
            <a href="{% url 'home' %}" class="flex">
              <i class="material-icons text-[1.4rem]"> west </i>
            </a>
            <h3>回首頁</h3>
          </div>
          <!-- 聊天室管理員才可以操作 -->
          {% if room.host == request.user %}
          <div class="flex space-x-2">
            <a href="{% url 'update-room' room.id %}" class="flex">
              <i class="material-icons text-[1.4rem]"> edit </i>
            </a>
            <a href="{% url 'delete-room' room.id %}" class="flex">
              <i class="material-icons text-[1.4rem]"> clear </i>
            </a>
          </div>
          {% endif %}
        </div>

        <div class="bg-gray-700">
          <div class="">
            <div class="p-4 sm:p-6 space-y-2">
              <div class="flex items-center justify-between">
                <span class="text-[1.2rem] text-cyan-400"> {{room.name}} </span>
                <span class="text-[0.85rem]"
                  >{{room.created|date:"Y-m-d H:i"}}
                </span>
              </div>
              <div class="space-y-1">
                <span class="text-[.88rem] text-gray-500">版主</span>
                <div class="flex items-center space-x-2">
                  <div class="border rounded-full border-cyan-400 w-[2.2rem]">
                    <a href="{% url 'user-profile' room.host.id %}" class="">
                      <img
                        src="{{room.host.avatar.url}}"
                        class="border rounded-full"
                      />
                    </a>
                  </div>
                  <div>
                    <a href="{% url 'user-profile' room.host.id %}" class="">
                      <span class="text-cyan-400">{{room.host.username}}</span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="pr-8 relative overflow-y-auto h-[120px]">
                <span>{{room.description}}</span>
              </div>
              <div class="pt-2 sm:pt-1">
                <span
                  class="text-[0.85rem] px-3 py-1 bg-slate-500 border border-slate-500 rounded-md"
                  >{{room.topic}}</span
                >
              </div>
            </div>

            <div>
              <div
                class="p-4 sm:px-6 sm:py-2 border rounded-t-lg bg-slate-800/80 relative overflow-y-auto h-[350px] sm:h-[340px]"
              >
                <!-- 留言區 -->
                <div class="space-y-4">
                  {% for message in room_messages %}
                  <div class="space-y-2">
                    <div class="flex justify-between">
                      <div class="flex items-center space-x-2">
                        <div
                          class="border rounded-full border-cyan-400 w-[2.2rem]"
                        >
                          <a href="{% url 'user-profile' message.user.id %}">
                            <img
                              src="{{message.user.avatar.url}}"
                              class="border rounded-full"
                            />
                          </a>
                        </div>
                        <div class="">
                          <div>
                            <a href="{% url 'user-profile' message.user.id %}">
                              <span class="text-cyan-400">
                                {{message.user.username}}
                              </span>
                            </a>
                          </div>

                          <span class="text-[0.85rem]">
                            {{message.created|date:"m-d H:i"}}
                          </span>
                        </div>
                      </div>
                      <!-- 只有留言者才可以刪除 -->
                      {% if request.user == message.user %}
                      <a href="{% url 'delete-message' message.id %}">
                        <div>
                          <i class="material-icons text-[1.4rem] text-gray-400">
                            clear
                          </i>
                        </div>
                      </a>
                      {% endif %}
                    </div>
                    <div class="pr-10">{{message.body}}</div>
                  </div>
                  {% endfor %}
                </div>
              </div>

              <!-- 使用者登入才可留言 -->
              {% if request.user.is_authenticated %}
              <div>
                <form action="" method="POST">
                  {% csrf_token %}
                  <div class="relative flex w-full flex-wrap items-center">
                    <input
                      type="text"
                      name="body"
                      placeholder="留言 ..."
                      class="w-full focus:outline-none pl-12 py-2 text-slate-800"
                    />
                    <button
                      type="submit"
                      class="absolute z-30 left-4 text-cyan-400"
                    >
                      <i class="material-icons text-[1.4rem] flex"> send </i>
                    </button>
                    <div
                      class="absolute z-30 right-4 sm:right-7 text-rose-400 font-medium"
                    >
                      {{room_message}}
                    </div>
                  </div>
                </form>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 左側聊天室 End -->

    <div class="hidden sm:block w-3/12 px-4">
      <div class="border border-gray-800 rounded-lg overflow-hidden">
        <div class="py-2 px-4 bg-teal-600">
          <span>參與者</span>
          <span>({{participants.count}} 人)</span>
        </div>

        <div
          class="space-y-2 p-4 bg-gray-700 relative overflow-y-auto h-[687px]"
        >
          {% for user in participants %}
          <div class="flex items-center space-x-2">
            <div class="border rounded-full border-cyan-400 w-[2rem]">
              <a href="{% url 'user-profile' user.id %}">
                <img src="{{user.avatar.url}}" class="border rounded-full" />
              </a>
            </div>

            <div class="text-cyan-400">
              <a href="{% url 'user-profile' user.id %}">
                <span>{{user.username}}</span>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
